<% @projects.each do |project| %>
<%# logger.info @projects %>
<ul>
	<div class="
		<%= if project.pipelines.last.stage == "1" then "successful_project" elsif project.pipelines.last.stage == 'F' then "failed_project" end %>">
		<li><%= link_to "(#{project.number}) #{project.title}", project_path(project.id) %></li>
	</div>
</ul>
<% end %>